* {
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    color: rgba(83, 55, 56, 1);

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;

}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/*HEADER*/

.header {
    background: url('../assets/img/background-header.jpg') no-repeat center;
    background-size: cover;
    height: 715px;
}

nav {
    display: flex;
    font-size: 16px;
}

.logo {
    display: flex;
    margin-left: 99px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-link {
    display: flex;
    padding-right: 26px;
    text-decoration: none;
}

.promo {
    margin-left: 180px;
}

h1 {
    margin-top: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
}

.btn-application {
    padding: 25px 65px;
    background: #CC8B86;
    border: none;
    font-size: 20px;
}

.phone {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(83, 55, 56, 1);
}

/*MAIN*/

.main {
    background-color: #ecdfdf;
}


/*Section About Us*/

.section-heading {
    margin-top: 65px;
    margin-bottom: 40px;

    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

.vase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 62px;

    margin-bottom: 21px;
}

.text-aboutUs {
    width: 528px;
    line-height: 30px;
}

.block-benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(141, 115, 112, 1);
}

.benefit {
    text-align: center;
}

.number {
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 400;
}

.description {
    margin-top: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
}

/*Section portfolio*/

.portfolio {
    padding-left: 100px;
}

.our-work img{
    margin-right: 20px;
    margin-bottom: 30px;
}

.jobs-text {
    text-align: start;
}

.apartment30 {
    position: absolute;
    top: 1750px;
    left: 140px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

.apartment-text {
    text-align: start;
}

.more {
    margin-right: 10px;
    margin-bottom: 65px;

    font-weight: 500;
    font-size: 30px;
    text-align: center;

}

/*Section our-team*/

.our-team {
    background-color: #E2C4BA;
}

.team-head {
    margin-top: 50px;
    margin-left: 85px;
}

.block-team {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.girls-descr {
    margin-top: 10px;
    line-height: 30px;
}

.howWorks-text {
    margin-top: 20px;
}

.block-HowWeWorks {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.type p:first-child {
    display: inline-block;
    width: 70px;
    height: 70px;

    padding-top: 20px;
    margin-bottom: 0;

    border: 1px solid rgba(141, 115, 112, 1);
    border-radius: 50%;

    background: rgba(141, 115, 112, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
}

.type p:last-child {
    margin-bottom: 80px;
}


/*Section Previews*/

.block-review {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev {
    margin-right: 29px;
}

.prev-img {
    transform: rotateY(180deg);
}

.next {
    margin-left: 29px;
}

.block-reviewText {
    line-height: 30px;
    margin-right: 20px;
}

.block-reviewPhoto {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

/*Section Application*/

.add-application {
    
    margin-top: 65px;
}

.blocks-theme {
    display: flex;
    justify-content: center;
    gap: 30px;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(141, 115, 112, 1);
}

.block-application {
    display: flex;
    flex-direction: column;
}

.section-footer {
    margin-top: 50px;
    margin-bottom: 22px;
    padding-right: 60px;
}

.block-application p {
    margin-bottom: 44px;
    font-size: 18px;
    line-height: 30px;
    color: rgba(246, 237, 233, 1);
}

input {
    height: 30px;
    line-height: 30px;
    margin-bottom: 40px;
    
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    background-color: #8D7370;
    outline: 0;  
}

input::-webkit-input-placeholder { 
    color: rgba(246, 237, 233, 1); 
}

.btn-footer {
    width: 309px;
}

/*FOOTER*/

.footer {
    background-color: #ecdfdf;
}

.footer-container {

    flex-direction: row;
}

.adress-block {
    display: flex;
    padding-left: 50px;
}    

.phone {
  margin-right: 42px;
}

.city {
    margin-right: 379px;
}